/* === FONTS === */

/* rubik-300 - latin */
@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/rubik-v31-latin-300.woff2') format('woff2'); 
  font-weight: 300;
  font-style: normal;
  font-display: swap; 
}
/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-v31-latin-regular.woff2') format('woff2'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}
/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-v31-latin-500.woff2') format('woff2'); 
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}

/* === CSS RESET === */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements */
ul, ol {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* === CSS CUSTOM PROPERTIES === */

:root {
  /* === Color Pallette === */

  /* Primary Colors */
  --clr-blue-300: hsl(195, 74%, 62%);
  --clr-orange-300: hsl(15, 100%, 70%);
  --clr-yellow-300: hsl(43, 84%, 65%);
  --clr-green-400: hsl(145, 58%, 55%);
  --clr-pink-400: hsl(348, 100%, 68%);
  --clr-purple-600: hsl(246, 80%, 60%);
  --clr-purple-700: hsl(264, 64%, 52%);

  /* Neutral Colors */
  --clr-navy-200: hsl(236, 100%, 87%);
  --clr-navy-900: hsl(235, 46%, 20%);
  --clr-navy-950: hsl(226, 43%, 10%);
  --clr-purple-500: hsl(235, 45%, 61%);

  /* === Typography === */
  /* font family */
  --ff-body: "Rubik", sans-serif;

  /* font size */
  --fs-body: 0.875rem;
  --fs-card-titles: 1.125rem;

  /* font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 500;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xlg: 2.5rem;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  background: var(--clr-navy-950);
  line-height: 1.5;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0
}

.box{
  width: 15rem;
  height: 8rem;
  border-radius: 0.8rem;
  z-index: 1;
  background-color: peru;
}

.box-2{
  width: 15rem;
  height: 6rem;
  border-radius: 0.8rem;
  z-index: 2;
  transform: translateY(-100%);
  background-color: var(--clr-navy-200);
  
}
